* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0%;
	padding: 0%;
}

#body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	background-color: rgb(10, 2, 32);
}

h4 {
	color: rgb(245, 245, 245);
	margin-bottom: 20px;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	max-width: 300px;
	height: fit-content;

	border-radius: 7px;

	background-color: rgb(10, 2, 32);
}

.form {
	margin: 5px;
	text-align: center;
}

#containerMessageScreen {
	text-align: center;

	height: 60vh;
	width: 80vw;
	margin: 5px;

	overflow-y: scroll;
	overflow-x: hidden;

	border-radius: 8px;

	padding: 2px;
	padding-right: 12px;

	background-color: rgb(18, 1, 58);
}

#screenMessage {
	text-align: center;

	padding: 5px;
	border-radius: 5px;
	margin: 5px;

	border: 0px;

	height: 100vh;
	width: 100%;
	background-color: rgb(18, 1, 58);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

::-webkit-scrollbar {
	width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
	background-color: rgba(245, 245, 245, 0.329); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}

.myMessage {
	background-color: rgb(214, 213, 218);
	color: black;

	border-radius: 3px;

	padding: 5px;
	margin: 2px;

	width: fit-content;
	max-width: 150px;

	text-align: left;

	overflow-wrap: break-word;
}

.MessageEntry {
	background-color: rgb(0, 255, 115);
	color: black;

	border-radius: 3px;

	padding: 5px;
	margin: 2px;

	width: fit-content;
	max-width: 150px;

	text-align: left;

	overflow-wrap: break-word;
}

.MessageEntryExit {
	background-color: rgb(255, 0, 0);
	color: black;

	border-radius: 3px;

	padding: 5px;
	margin: 2px;

	width: fit-content;
	max-width: 150px;

	text-align: left;

	overflow-wrap: break-word;
}

.my-containerMessage {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.userEntry {
	width: 100%;
	display: flex;
	justify-content: center;
}

.messageFriend {
	background-color: rgb(61, 61, 61);
	color: white;

	border-radius: 3px;

	padding: 5px;
	margin: 2px;

	text-align: left;

	width: fit-content;
	max-width: 140px;

	overflow-wrap: break-word;
}

.friend-containerMessage {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

#inputMessage {
	background-color: white;
	border: 0px;
	padding: 6px;

	height: 20px;

	width: 100%;
	margin-right: 5px;

	outline: none;

	border-radius: 8px;
}

textarea {
	resize: none;
}

#buttonMessage {
	padding: 2px;
	border: 0px;
	margin: 0px;

	height: 31px;
	border-radius: 50%;
	padding: 3px;

	cursor: pointer;

	background-color: rgb(255, 0, 128);
}

#buttonMessage:hover {
	background-color: rgb(212, 0, 106);
}

#buttonMessage:active {
	background-color: rgb(133, 0, 66);
}

#formMessage {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 5px;

	width: 80vw;
}

.nameMessageUser {
	font-size: 10px;
	text-align: left;
	margin-bottom: 1px;
	font-weight: 600;
}

#inputFormName {
	background-color: white;
	border: 0px;
	padding: 6px;

	height: 20px;

	width: 100%;
	margin-right: 5px;

	outline: none;

	border-radius: 8px;
}

#buttonFormName {
	padding: 2px;
	border: 0px;
	margin: 0px;

	color: white;

	height: 31px;
	border-radius: 5px;
	padding: 3px;

	cursor: pointer;

	background-color: rgb(255, 0, 128);
}

#buttonFormName:hover {
	background-color: rgb(212, 0, 106);
}

#buttonFormName:active {
	background-color: rgb(133, 0, 66);
}

#notification {
	color: red;
	font-size: small;
	font-weight: 200;

	background-color: rgba(255, 0, 0, 0.425);
	padding: 3px;
	border-radius: 4px;
	margin-top: 7px;
}

#notificationDesactive {
	font-weight: 200;
	font-size: small;
	background-color: transparent;
	padding: 3px;
	border-radius: 4px;
	margin-top: 7px;
}
